# Ignorar ambiente virtual
venv/
env/

# Ignorar variaveis de ambiente (SUAS SENHAS)
.env

# Ignorar arquivos temporarios do Python
__pycache__/
*.pyc

# Ignorar banco de dados local (Seus dados privados)
*.db
banco_suno.db